html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
/* ===================delete default styles=============*/
* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--text-color-black);
}
img {
	display: block;
}
/* ================== Add document main colors====================*/
:root {
	--text-color-white: #ffffff;
	--text-color-black: #212121;
	--text-color-grey: #757575;
	--accent-color: #2196f3;
	--text-color-auth-nav: rgba(255, 255, 255, 0.6);
	--text-color-black-logo: #000000;
	--background-color-gray: #2f303a;
	--background-color-overlay: rgba(0, 0, 0, 0.2);
	--background-color-white-title: rgba(47, 48, 58, 0.8);
	--background-color-bottom: #f5f4fa;
	--background-color-pop-up-text: rgba(33, 150, 243, 0.9);
	--background-color-social-link-footer: rgba(255, 255, 255, 0.1);
	--border-color: #e5e5e5;
	--border-color-projects: #eeeeee;
	--icon-color: #afb1b8;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }
/*======================== General styles for index.html page=======================*/
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--text-color-grey);
	background-color: var(--text-color-white);
}
/* ========================================Header===================================*/
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
}
.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}

.page-header {
	border-bottom: solid 1px var(--border-color);
}
.main-nav {
	display: flex;
	align-items: center;
}

.main-nav .logo {
	margin-top: 24px;
	margin-bottom: 25px;
	display: flex;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--accent-color);
}
.studio-logo {
	color: var(--text-color-black-logo);
}
.footer .studio-logo {
	color: var(--text-color-white);
}
.header-nav {
	display: flex;
	align-items: center;
}
.site-nav {
	margin-left: 93px;
	display: flex;
}

.site-nav .item + .item {
	margin-left: 50px;
}
.auth-nav {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.auth-nav .item {
	display: flex;
	align-items: center;
}
.auth-nav .item + .item {
	margin-left: 50px;
}
.nav-icon {
	fill: currentColor;
	margin-right: 10px;
	transition: fill 250ms var(--timing-function);
}

.nav-icon:hover {
	fill: var(--accent-color);
}

.current-link {
	position: relative;
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--accent-color);
	transition: color 250ms var(--timing-function);
}
.current-link::after {
  position: absolute;
  display: inline-block;
  content: '';
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
}
.nav-link {
	padding-top: 32px;
	padding-bottom: 32px;
	display: block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color-black);
	transition: color 250ms var(--timing-function);
}
.current-link:hover,
.current-link:focus,
.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
	cursor: pointer;
	
}
.contact-link {
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--text-color-grey);
	transition: color 250ms var(--timing-function);
}
.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color);
}
/* ===================================Hero============================================*/

.hero {
	margin-top: 0;
	padding: 200px 0;
	text-align: center;
	max-width: 1600px;
	min-height: 600px;
	background-color: var(--background-color-gray);
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/background-photo.jpg);
}

.hero-title {
	margin: 0 auto 30px;
	width: 696px;
	text-align: center;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--text-color-white);
}
.hero-btn {
	margin-top: 0;
	padding: 10px 32px;
	display: inline-block;
	min-width: 200px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border: none;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	font-family: inherit;
	line-height: 1.88;
	letter-spacing: 0.06em;
	color: var(--text-color-white);
	background-color: var(--accent-color);
	cursor: pointer;
}
/* =============================Benefits=================================*/
.work-process,
.benefits,
.team {
	padding-top: 94px;
	padding-bottom: 94px;
}
.benefits-list {
	margin-top: 0;
	display: flex;
}
.benefits-list li::before {
	display: block;
	content: '';
	height: 120px;
	background-color: var(--background-color-bottom);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 30px;
}
.benefits-list li:nth-child(1)::before {
	background-image: url(../images/icons/antenna.svg);
}
.benefits-list li:nth-child(2)::before {
	background-image: url(../images/icons/clock.svg);
}
.benefits-list li:nth-child(3)::before {
	background-image: url(../images/icons/diagram.svg);
}
.benefits-list li:nth-child(4)::before {
	background-image: url(../images/icons/astronaut.svg);
}
.benefits-list .item {
	width: 270px;
}

.benefits-list .item + .item {
	margin-left: 30px;
}

.benefits-title {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--text-color-black);
}
.benefits-text {
	margin-top: 0;
	font-size: 14px;
}
/*============================== Work field===============================*/

.work-process {
	padding-top: 0;
	padding-bottom: 94px;
}
.work-process-gallery {
	display: flex;
}
.work-process-title,
.team-title,
.clients-title {
	margin-top: 0;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--text-color-black);
}
.work-process-list {
	position: relative;
	margin-top: 0;
	margin-right: 30px;
	width: 370px;
}
   
.white-title {
	position: absolute;
	padding: 27px 0;
	font-size: 14px;
	font-weight: 700;
    line-height: 1.14;
	width: 100%;
    bottom: 0;
    color: var(--text-color-white);
    text-align: center;
    text-transform: uppercase;
    background-color: var(--background-color-white-title);
}

/* ================================Our team===============================*/
.team {
	background-color: var(--background-color-bottom);
}
.team-list {
	display: flex;
}
.team-title {
	margin-top: 0;
	margin-bottom: 50px;
}

.team-list .item + .item {
	margin-left: 30px;
}

.team-list .item {
	margin-top: 0;
	text-align: center;
	width: 270px;
	background-color: var(--text-color-white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.team-image {
	margin-top: 0;
	margin-bottom: 30px;
}

.team-member {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	color: var(--text-color-black);
}
.position {
	margin-top: 0;
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}
.member-social-links {
	display: flex;
	margin: 0 32px 30px;
}
.social-link {
	display: flex;
	width: 44px;
	height: 44px;
	justify-content: center;
	align-items: center;
	color: var(--icon-color);
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
	transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.social-link:hover,
.social-link:focus {
	color: var(--text-color-white);
	background-color: var(--accent-color);
	
}
.member-social-links li:not(:last-child) {
	margin-right: 10px;
}
.social-icon {
	fill: currentColor;
}
/*==========================Clients======================*/
.clients {
	padding-top: 94px;
	padding-bottom: 94px;
}
.clients-title {
	margin-top: 0;
	margin-bottom: 50px;
}
.clients-list {
	display: flex;
}
.clients-list .item:not(:last-child) {
	margin-right: 30px;
}
.clients-link {
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
	width: 170px;
	height: 90px;
	border: 1px solid var(--icon-color);
	color: var(--icon-color);
	border-radius: 4px;
	transition: color 250ms var(--timing-function), border-color 250ms var(--timing-function);
	
}
.clients-logo {
	fill: currentColor;
}
.clients-link:hover,
.clients-link:focus {
	color: var(--accent-color);
	border-color: var(--accent-color);
	
}

/*==================================Footer=====================================*/
.footer {
	padding: 60px 0;
	background-color: var(--background-color-gray);
}
.footer-nav {
	display: flex;
	align-items: baseline;
  }
.link-address {
	font-style: normal;
	color: var(--text-color-white);
}

.auth-nav-footer:first-child {
	margin-top: 20px;
}
.auth-nav-footer li:not(:last-child) {
	margin-bottom: 9px;
}
.auth-nav-footer .footer-contact-link {
	margin-top: 0;
	font-weight: 400;
	font-style: normal;
	color: var(--text-color-auth-nav);
}
.footer-social-links {
	margin-left: 70px;
}
.social-links-title {
	margin-bottom: 20px;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--text-color-white);
	
}
.social-links-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-links-list .item + .item {
	margin-left: 10px;
}
.social-link-footer .social-icon {
	fill: var(--text-color-white)
}

.social-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: var(--background-color-social-link-footer);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}

.social-link-footer:hover,
.social-link-footer:focus {
	background-color: var(--accent-color); 
	
}
/* ===================General styles for portfolio.html page=======================*/
/*======================== Main============================*/
.projects {
	padding-top: 94px;
	padding-bottom: 94px;
}
.filter .icon + .icon {
	margin-left: 8px;
}

.filter {
	margin-bottom: 50px;
	display: flex;
	justify-content: center;
}
.filter-btn {
	padding: 6px 22px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	color: var(--text-color-black);
	background-color: var(--background-color-bottom);
	border-radius: 4px;
	border: none;
	transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--accent-color);
	color: var(--text-color-white);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}

.works {
	display: flex;
	flex-wrap: wrap;
}

.works .item:nth-child(3n) {
	margin-right: 0px;
}

.works .item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.works .item {
	overflow: hidden;
	margin-right: 30px;
	margin-bottom: 30px;
	width: 370px;	
	transition: box-shadow 250ms var(--timing-function);
}
.works-card-img {
	display: block;
	width: 100%;
}

.works-img-txt {
    display: flex;
	position: relative;
    overflow: hidden;
}
.pop-up-text {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	font-size: 18px;
	line-height: 1.56;
	color: var(--text-color-white);
	background-color:var(--background-color-pop-up-text);
	padding: 63px 24px;
	transform: translateY(100%);
	transition: transform 250ms var(--timing-function);
  }

  .works > .item:hover .pop-up-text,
  .works > .item:focus .pop-up-text {
	transform: translateY(0);
  }

  .works .item:hover,
  .works .item:focus {
	display: inline-block;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
	
}
.works-card {
	border-bottom: 1px solid var(--border-color-projects);
	border-right: 1px solid var(--border-color-projects);
	border-left: 1px solid var(--border-color-projects);
	padding: 20px 24px;
}
.works-title {
	margin-top: 0;
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--text-color-black);
}
.works-type {
	margin-top: 0;
	font-size: 16px;
	line-height: 1.88;
}
/*==============================Styles for Modal Window======================================= */
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--background-color-overlay);
	transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
	transform: scale(0);
}

.modal {
	min-width: 528px;
	min-height: 581px;
	border-radius: 4px;
	background-color: var(--text-color-white);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}
.button-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/icons/close.svg);
	  
}